<p>Hallo [$SUBSCRIPTOR_FULLNAME$],</p>

<p>um Ihr Abo des Newsletters vollständig abzuschließen, müssen Sie dieses nun noch einmal kurz bestätigen. Klicken Sie dafür bitte auf den folgenden Link: <br />
 <a href="[$SUBSCRIPTION_URL$]">[$SUBSCRIPTION_URL$]</a></p>

<p>Besten Dank und viele Grüße<br />
Newsletter-Automat Polit@ktiv<br />
<a href="https://www.politaktiv.org">https://www.politaktiv.org</a></p>